<!-- https://youtu.be/gDiDi2SgHfY -->
<ion-header [translucent]="true">
  
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-item lines="none">
      <p>Today's Report &nbsp;</p>
        <ion-label slot="end">{{ todayDate | date: "EEE dd MMM" }}</ion-label>
      </ion-item>
    
    <ion-item lines="none">
      <span>
      {{ (weatherTemp?.temp - 273.15).toFixed(0) }}
    </span>
    <span>°</span>
    <img slot="end" [src]=weatherIcon alt="Icon">
    </ion-item>
    <ion-item>
      <ion-icon name="location"></ion-icon>
      <span>{{ cityName }}</span>
    </ion-item>

  </ion-card>
</ion-content>
