<!-- https://youtu.be/gDiDi2SgHfY -->
<!-- <ion-header [translucent]="true">
  
</ion-header> -->

<ion-content [fullscreen]="true">
  <div id="appName">
    <ion-label>Weather Forcast</ion-label>
  </div>
  <ion-searchbar [(ngModel)]="cityName" (ngModelChange)="loadData()" placeholder="Search for city" class="searchBar" animated></ion-searchbar>
<div *ngIf="!loading">
  <ion-card class="cardStyle">
    <ion-item lines="none">
      <p>Today's Report &nbsp;</p>
        <ion-label id="date" slot="end">{{ todayDate | date: "EEE dd MMM" }}</ion-label>
      </ion-item>
    
    <ion-item lines="none">
      <span class="temp">
      {{ (weatherTemp?.temp - 273.15).toFixed(0) }}
    </span>
    <span class="temp">°</span>
    <img slot="end" [src]=weatherIcon alt="Icon">
    </ion-item>
    <ion-item>
      <ion-icon id="locationIcon" name="location"></ion-icon>
      <span>{{ cityName }}</span>
    </ion-item>

  </ion-card>

    <ion-card class="cardStyle">
      <ion-item>
        <span>Maximum Temp</span>
        <span slot="end">{{ (weatherTemp.temp_max - 273.15).toFixed(0) }}</span>
      </ion-item>
    <ion-item>
      <span>Minimum Temp</span>
      <span slot="end">{{ (weatherTemp.temp_min - 273.15).toFixed(0) }}</span>
    </ion-item>
    <ion-item>
      <span>Humidity</span>
      <span slot="end">{{ weatherTemp.humidity }}</span>
    </ion-item>
  </ion-card>
</div>

<div *ngIf="loading" class="noData">
  <img src="../../assets/pic2.png" alt="">
  <span>No data</span>
</div>
</ion-content>
